@model MVC_SIS_UI.Models.EditStateVM
@{
    ViewBag.Title = "EditState";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit State</h3>
        @Html.ActionLink("Return to List", "ListStates", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.ValidationSummary()
        @using (Html.BeginForm("EditState", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.currentState.StateAbbreviation)
            <div class="form-group">
                <div class="form-group">
                <label>State Abbreviation</label>
                @Html.TextBoxFor(m => m.currentState.StateAbbreviation, new { @class = "form-control", @readonly = true })
            </div>
                <label>State Name</label>
                @Html.TextBoxFor(m => m.currentState.StateName, new { @class = "form-control"})
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>